@model DashboardReportApp.Models.ScheduleModel

@if (Model.AllComponents != null && Model.AllComponents.Any())
{
   

    <input type="hidden" name="MasterId" value="@Model.AllComponents.FirstOrDefault()?.MasterId" />
    <div class="table-responsive">
        <style>
            .input-group .material-input {
                flex-grow: 1 !important;
                flex-basis: 0 !important;
                min-width: 300px; /* optional */
            }
        </style>

        <table class="custom-table table-striped table-bordered shadow-sm w-100">
            <thead class="table-dark">
                <tr>
                    <th>Part</th>
                    <th>Component</th>
                    <th>Material</th> <!-- NEW -->
                    <th>Qty to Make Part</th>
                    <th>Qty to Schedule</th>
                    <th>Production Number</th>
                    <th>Run</th>
                </tr>
            </thead>


            <tbody>
                @for (int i = 0; i < Model.AllComponents.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="hidden" name="AllComponents[@i].MasterId" value="@Model.AllComponents[i].MasterId" />
                            @Model.AllComponents[i].MasterId
                        </td>
                        <td>
                            <input type="hidden" name="AllComponents[@i].Component" value="@Model.AllComponents[i].Component" />
                            @Model.AllComponents[i].Component
                        </td>

                        <td>
                            <div class="input-group">
                                <input type="text"
                                       name="AllComponents[@i].MaterialCode"
                                       class="form-control material-input"
                                       required
                                       data-partcode="@Model.AllComponents[i].MasterId"
                                       data-component="@Model.AllComponents[i].Component"
                                       placeholder="Material..." />

                                <button class="btn btn-outline-secondary select-powder-btn"
                                        type="button"
                                        data-index="@i">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </td>


                        <td>
                            <input type="hidden" name="AllComponents[@i].QtyNeededFor1Assy" value="@Model.AllComponents[i].QtyNeededFor1Assy" />
                            @Model.AllComponents[i].QtyNeededFor1Assy
                        </td>
                        <td>
                            <input type="number" name="AllComponents[@i].QtyToSchedule" value="@Model.AllComponents[i].QtyToSchedule" class="form-control" required />
                        </td>
                        <td>
                            <input type="hidden" name="AllComponents[@i].ProdNumber" value="@Model.AllComponents[i].ProdNumber" />
                            @Model.AllComponents[i].ProdNumber
                        </td>
                        <td>
                            <input type="hidden" name="AllComponents[@i].Run" value="@Model.AllComponents[i].Run" />
                            @Model.AllComponents[i].Run
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
}
else
{
    <p class="text-center">No components found for the given part number and quantity.</p>
}
<div class="modal fade" id="powderSelectModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Powder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="powderTable">
                    <thead>
                        <tr>
                            <th>Lot</th>
                            <th>Weight</th>
                            <th>Material Code</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- rows will be filled by AJAX -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function initMaterialAutocomplete() {
        $(".material-input").each(function () {
            var $input = $(this);
            $input.autocomplete({
                source: function (request, response) {
                       $.getJSON('/Schedule/GetMaterialSuggestions', {
        part: $input.data('partcode'),
        comp: $input.data('component'),  
        term: request.term
    }, function (data) {
        response(data);
    });
                },
                minLength: 1
            });
        });
    }
</script>